body
{
    font-family:Raleway;
    background-color:#113;
}

#clipping_container {
    position:fixed;
    width:100vw;
    height:100vh;
    left:calc(50% - 50vw);   /*Should be equal to calc(50% - width/2)*/
    top:calc(50% - 50vh);   /*Should be equal to calc(50% - height/2)*/
    overflow-x:hidden;
    overflow-y:auto;
    box-shadow:#000 0px 0px 50px;
    background-color:#CCC;
}

.card {
    max-width:100vw;
    width:100%;
    height:100vh;
    background-color:#DDD;
    margin-left:auto;
    margin-right:auto;
    left:calc(100% - 0px);
    position:absolute;
    top:0px;
    transition:ease-in-out 1s;
    opacity:0;
}

.card_header {
    width:80px; /*Should be equal to the margin-left of .card_body*/
    height:100%;
    margin:0px;
    top:0px;
    left:0px;
    background-color:#999;
    position:absolute;
    overflow-wrap:break-word;
    box-shadow:#333 0px 0px 20px;
    text-align:center;
    vertical-align:middle;
}

.card_header h1 {
    font-size:70px;
    margin-left:auto;
    margin-right:auto;
    line-height:60px;
    vertical-align:middle;
}

.card_body {
    height:100%;
    overflow-y:auto;
    margin-left:80px;   /*Should be equal to the width of .card_header*/
    padding-left:30px;
    margin-right: 350px; /*Should be equal to the spacing between cards times (1-the number of cards) plus padding-left plus any additional desired margin*/
}